@font-face{
    font-family:'roblox';
    src:url(fonts/Roblox_Font_FONTS_MAGAZINE.ttf);
    font-style: normal;
    font-weight: normal;
}

body.main{
    background-color: rgb(255, 255, 255);
    background-size:cover;
    background-repeat: no-repeat;
}

p.ro{
    font-family:'roblox';
    font-size: 20px;
    color: black;
}

button.home{
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    transition: opacity 0.5s;
}

button.home:hover{
    opacity: 0.6;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
}

button.button:hover{
    opacity: 0.6;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
}

button.web:hover{
    opacity: 0.6;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
}


button.button{
    background-color: white;
    color: black;
    border: none;
    cursor:pointer;
    transition: opacity 0.5s;
}

button.web{
    float:right;
    color: black;
    font-family: 'roblox';
    background-color: white;
    border: none;
    font-size: 30px;
    height: 100px;
    cursor: pointer;
    position: fixed;
    top: 0px;
    right: 0px;
    transition: opacity 0.5s;
}

h1{
    font-family: 'roblox';
    font-size:30px;
    color: black;
}

a.news{
    color: black;
}

img.website{
    float:right;
    color: black;
    font-family: 'roblox';
    background-color: white;
    border: none;
    font-size: 30px;
    height: 50px;
    cursor: pointer;
    position: fixed;
    top: 0px;
    right: 0px;
    transition: opacity 0.5s;
}


